console_title{
    width: 20%;
    height: 1;
    text-style:bold;
    background:white 30%;
}
console_text{
    width: 20%;
    max-width: 30%;
    height: 3;
}
.over console_title{
    background:yellowgreen 100%;
}